.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Noteworthy, Arial;
}

footer p {
  margin-bottom: .25rem;
}
a {
  text-decoration: none;
  color: #FF47DA;
}
a:hover {
  color: #78E0DC;
}
h3 {
  color: #FF47DA;
}
h1 {
  color: #FF47DA;
  font-family: Noteworthy, Arial;
}
#background {
  background-image: url("TWC Website-05.svg");
  padding: 10px;
}
